/* font declarations
--------------------------------------------------
*/

/* Serif roman */
@font-face {
    font-family: 'IBM Plex Serif Light';
    src: url('/fonts/IBMPlexSerif-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Serif italic */
@font-face {
    font-family: 'IBM Plex Serif Light';
    src: url('/fonts/IBMPlexSerif-LightItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Monospace roman */
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Sans-serif roman */
@font-face {
    font-family: 'IBM Plex Sans Light';
    src: url('/fonts/IBMPlexSans-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Sans-serif italic */
@font-face {
    font-family: 'IBM Plex Sans Light';
    src: url('/fonts/IBMPlexSans-LightItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* variables
--------------------------------------------------
*/

$display-stack: Caveat, cursive;
$monospace-stack: 'IBM Plex Mono', monospace;
$sans-serif-stack: 'IBM Plex Sans Light', Helvetica, sans-serif;
$serif-stack: 'IBM Plex Serif Light', Georgia, serif;

$black: #364954;
$white: #fffffa;
$primary: #0088b2;
$success: #00c9ad;
$warning: #ef972c;
$alert: #c35353;
$light: #f1f8f6;
$mid: #9cafb0;
$dark: #2f4858;

/* fibonacci
--------------------------------------------------
1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144
*/

/* global defaults
--------------------------------------------------
*/

html {
    background: $white;
    color: $black;
    font-family: $serif-stack;
    height: 100%;
    line-height: 1.4;
}

@media only screen and ( min-width: 800px ) {
    html {
        font-size: 130%;
    }
}

body {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    min-height: 100%;
}

a {
    color: $black;
    text-decoration: none;
}

a:hover, a:focus {
    color: $success;
    text-decoration: none;
}

blockquote {
    font-size: 89%;
    line-height: 1.3;
    margin-left: 2em;
    padding-left: 8px;
}

h2 {
    font-size: 135%;
    margin-top: 13px;
    margin-bottom: 8px;
}

h3 {
    font-size: 133%;
    margin-top: 8px;
    margin-bottom: 5px;
}

p {

    margin: 0 0 0.5em 0;

    a:after {
        color: $alert;
        content: "°";
        font-feature-settings: 'caps' 1;
        font-size: 90%;
        margin-left: 0.10em;
        position: relative;
    }

}

.post-info {
    color: $mid;
    font-size: 90%;
    margin-top: 1em;
}

.post-teaser {
    border-top: 1px solid $mid;
}

.tags {
    color: $warning;
    font-family: $sans-serif-stack;
    font-size: 90%;
    margin-bottom: 1em;

    a {
        color: $primary;
        &:hover {
            color: $success;
        }
    }

}

/* code formatting
--------------------------------------------------
*/

code, kbd {
    border-radius: 4px;
    color: $light;
    background: $dark;
    font-family: $monospace-stack;
    font-size: 90%;
    padding: 0 .5rem;
}

pre {
    background: $black;
    overflow-wrap: break-word;
    white-space: pre-wrap;

    code {
        border: 1px solid $mid;
        display: block;
    }

    code a {
        color: $light;
        &:hover {
            text-decoration: none;
        }
    }

}

/* image formatting
--------------------------------------------------
*/

img {
    border-bottom: 3px solid $success;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
                0px 10px 20px rgba(0,0,0,0.05),
                0px 20px 20px rgba(0,0,0,0.05),
                0px 30px 20px rgba(0,0,0,0.05);
    margin: 21px 0 21px 0;
    width: 100%;
}

/* table formatting
--------------------------------------------------
*/

table {
    font-family: $sans-serif-stack;
    margin: 21px 0 21px 0;
    border-collapse: collapse;
    border: 1px solid $light;
    border-bottom: 2px solid $success;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
                0px 10px 20px rgba(0,0,0,0.05),
                0px 20px 20px rgba(0,0,0,0.05),
                0px 30px 20px rgba(0,0,0,0.05);

    tr {
        &:hover {
            background: $light;
            td {
                color: $dark;
            }
        }
    }

    th, td {
        color: $black;
        border-bottom: 1px solid $mid;
        padding: 12px 35px;
        border-collapse: collapse;
    }

    th {
        background: $success;
        color: $light;
        font-family: $serif-stack;
        font-size: 90%;
        font-weight: 700;
        text-align: left;
        &.last {
            border-right: none;
        }
    }
}

/* page elements
--------------------------------------------------
*/

* {
    box-sizing: border-box;
}

.logo {
    border-bottom: 1px solid $mid;
    display: none;

    a {
        color: $success;
        font-size: 120%;
        text-decoration: none;
    }

}

header {
    margin: 0 21px 0 21px;
}

nav {
    border-bottom: 1px solid $mid;
    display: flex;
    font-family: $sans-serif-stack;
    font-variant: small-caps;
    justify-content: flex-start;
    letter-spacing: 0.1em;
    margin-bottom: 34px;

    a {
        color: $black;
        display: block;
        margin: 5px 34px 8px 0;
    }
}

main {
    display: grid;
    grid-template-columns: repeat( 15, minmax( 0, 1fr ) );
    grid-template-rows: 1fr;

    article, article.section {
        grid-column: 3 / span 11;
    }
    
}

@media only screen and ( max-width: 500px ) {
    main {

        article, article.section {
            grid-column: 2 / span 13;
        }

    }
}

@media only screen and ( min-width: 1300px ) {
    main {

        article, article.section {
            grid-column: 6 / span 5;
        }

    }
}

@supports not ( display: grid ) {
    main {
        display: block;
        margin: 0 auto;
        max-width: 700px;
        width: 100%;

        article, article.section {
            max-width: 700px;
            width: 90%;
        }

    }
}

/* responsive footer
--------------------------------------------------
*/

footer {
    background: $primary;
    border-top: 3px solid $mid;
    color: $light;
    font-family: $sans-serif-stack;
    font-size: 80%;
    grid-row: 3 / span 1;
    margin: 13px -8px -8px -8px;
    padding: 34px 21px 34px 21px;

    a {
        color: $white;
        &:hover {
            color: $light;
        }
    }

    a:after {
        color: $success;
    }

}
