---
title: Home
---

<img src="/images/logo-color-smaller.png" style="float: right; margin: 10px;" />

<h2>Posts</h2>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">archives</a>.
